/* Reset styles for all elements to create a consistent base */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/* Apply padding to all paragraphs for consistent spacing */
p {
    padding: 5px;
}

/* Style links (anchors) with white text and no underlines */
a {
    color: white;
    text-decoration: none;
}

/* Style for the main container of the page */
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #5c5d60), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Style for the form within the container */
form {
    width: 90%;
    max-width: 600px;
}

/* Style for input groups, which are used to group form inputs */
.input-group {
    margin-bottom: 30px;
    position: relative;
}

/* Styles for text inputs and textareas */
input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
    border-radius: 10px;
}

/* Style for labels associated with input fields */
label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

/* Style for the submit button */
button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

/* Use label animation to move labels above input fields on focus and when inputs are valid */
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

/* Styles for rows and input groups within rows */
.row {
    display: flex;
    align-items: center;
    justify-content: space between;
}

.row .input-group {
    flex-basis: 48%;
}
